<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- more bean definitions go here -->

	<!-- <bean id="address" class="com.mindgate.pojo.Address" scope="prototype"> -->
	<!-- <constructor-arg name="addressId" value="101"></constructor-arg> -->
	<!-- <constructor-arg name="street" value="Link road"></constructor-arg> -->
	<!-- <constructor-arg name="city" value="mumbai"></constructor-arg> -->
	<!-- <constructor-arg name="state" value="maharashtra"></constructor-arg> -->


	<!-- </bean> -->

	<!-- <bean id="employee" class="com.mindgate.pojo.Employee" scope="prototype"> -->
	<!-- <property name="homeAddress" ref="address" > </property> -->

	<!-- <constructor-arg name="empId" value="101"></constructor-arg> -->
	<!-- <constructor-arg name="name" value="vinaya"></constructor-arg> -->
	<!-- <constructor-arg name="salary" value="50000"></constructor-arg> -->
	<!-- <constructor-arg name="homeAddress" ref="address"></constructor-arg> -->


	<!-- </bean> -->

	<bean id="address" class="com.mindgate.pojo.Address"
		scope="prototype">
		<property name="addressId" value="101"></property>
		<property name="street" value="Link road"></property>
		<property name="city" value="mumbai"></property>
		<property name="state" value="maharashtra"></property>


	</bean>

	<bean id="employee" class="com.mindgate.pojo.Employee"
		scope="prototype" autowire="byType">
<!-- 		<property name="homeAddress"></property> -->
		<property name="empId" value="101"></property>
		<property name="name" value="vinaya"></property>
		<property name="salary" value="50000"></property>
		<!-- <property name="homeAddress" ref="address"></property> -->


	</bean>



</beans>
